{% extends "base.html" %}
 
{% block mainbody %}<p>继承了 base.html 文件</p>
{% endblock %}
<!-- <!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		#test {
			background: bottom;
			color: green;
			margin: 10px;}

	</style>
	<script type="text/javascript">
		window.onload = function() {
			var Btn = document.getElementById("btn1");
			// console.log(typeOf(Btn))
			var Tit1 = document.getElementById("test");
			Btn.onclick = function() {
			Tit1.style.display = "block";

			}
		}
	</script>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Hello Django</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>
  <h1 id="test" style="display: none">{{hello}}</h1> 
  <button id="btn1">显示</button> 
</body>
</html> -->